<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Author List</title>
</head>
<body>
<h1>Author List</h1>
  <table border="1">
    <tr>
    <th>Name</th>
    <th>email</th>
    </tr>
    <tr>
   <tr> {% for a in Author %} </tr>
    <td>{{a.username}}</td>
    <td>{{a.email}}</td>
    {% endfor %}
    </tr>
    </table>
    
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
</head>
</html>
